@model FootGrids.DTOs.PistasDTO

@{
    ViewData["Title"] = "FootGrids Index";

    int contCasilla = 3;
    int numeroCasilla = 0;
    int numeroCasilla2 = 0;
    int numeroCasilla3 = 0;
    string claseCasilla = "";
}

<div id="api-keys" data-rapid-api-key="@ViewBag.RapidAPIKey" data-rapid-api-host="@ViewBag.RapidAPIHost"></div>

<div class="container container-grid">
    <div class="row" style="width: 100%; margin: 0;">
        <div class="col-sm celda-grid" style="flex: 1; height: auto">
            <div id="div-cronometro" class="celda-grid-container fuentePrincipal fs24" style="font-size: 24pt">00:00</div>
            <div id="div-crono-desde-ultimo-acierto" style="display: none">0</div>
        </div>
        <div class="col-sm celda-titulo fuentePrincipal colorFuenteSecundaria" style="text-shadow: 2px 2px #100000;">
            FootGrids
        </div>
    </div>
    @if (Model is not null)
    {
        <div class="row">
            <div class="col-sm celda-grid">
                <div class="celda-grid-container fuentePrincipal">Puntuación</div>
                <div id="div-puntuacion" class="celda-grid-container fuentePrincipal fs24" style="line-height: 2vw">0</div>
            </div>
            @foreach (var pista in Model.Pistas)
            {
                if (pista.NumPista >= 1 && pista.NumPista <= 3)
                {
                    if (pista.Link is null)
                    {
                        <div class="col-sm celda-grid">
                            <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                        </div>
                    }
                    else 
                    {
                        if (pista.Tipo == "Jugador")
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container">
                                    <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                </div>
                                <div class="celda-grid-subdato fuentePrincipal">Compañero de...</div>
                            </div>
                        }
                        else if (pista.Tipo == "Dato")
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container">
                                    <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        @for (int i = 4; i < 7; i++)
        {
            <div class="row">
                @foreach (var pista in Model.Pistas)
                {
                    if (pista.NumPista == i)
                    {
                        if (pista.Link is null)
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                            </div>
                        }
                        else
                        {
                            if (pista.Tipo == "Jugador")
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container">
                                        <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                    </div>
                                    <div class="celda-grid-subdato fuentePrincipal">Compañero de...</div>
                                </div>
                            }
                            else if (pista.Tipo == "Dato")
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container">
                                        <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                    </div>
                                </div>
                            }
                        }
                    }
                }

                @{
                    numeroCasilla = i - contCasilla;
                    claseCasilla = "fg-casilla-" + numeroCasilla;
                }

                <div id="div-casilla-@numeroCasilla" class="col-sm celda-grid d-flex pd-3-0">
                    @{
                        string styleCeldaEsq = "";

                                @if (i == 4)
                        {
                            styleCeldaEsq = " celda-esq-sup-izq";
                        }
                        else if (i == 6)
                        {
                            styleCeldaEsq = " celda-esq-sup-der";
                        }
                    }

                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @claseCasilla @styleCeldaEsq"></button>
                    <div class="div-resultado-celda div-acierto-celda container-victoria @styleCeldaEsq"></div>
                    <div class="div-resultado-celda div-fallo-celda container-victoria @styleCeldaEsq"></div>
                </div>

                @{
                    styleCeldaEsq = "";
                    numeroCasilla2 = numeroCasilla + 1;
                    claseCasilla = "fg-casilla-" + numeroCasilla2;
                }

                <div id="div-casilla-@numeroCasilla2" class="col-sm celda-grid d-flex pd-3-0">
                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @claseCasilla @styleCeldaEsq"></button>
                    <div class="div-resultado-celda div-acierto-celda container-victoria @styleCeldaEsq"></div>
                    <div class="div-resultado-celda div-fallo-celda container-victoria @styleCeldaEsq"></div>
                </div>

                @{
                    numeroCasilla3 = numeroCasilla2 + 1;
                    claseCasilla = "fg-casilla-" + numeroCasilla3;
                }

                <div id="div-casilla-@numeroCasilla3" class="col-sm celda-grid d-flex pd-3-0">
                    @{
                                @if (i == 4)
                        {
                            styleCeldaEsq = " celda-esq-inf-izq";
                        }
                        else if (i == 6)
                        {
                            styleCeldaEsq = " celda-esq-inf-der";
                        }
                    }

                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @claseCasilla @styleCeldaEsq"></button>
                    <div class="div-resultado-celda div-acierto-celda container-victoria @styleCeldaEsq"></div>
                    <div class="div-resultado-celda div-fallo-celda container-victoria @styleCeldaEsq"></div>
                </div>
            </div>

            contCasilla -= 2;
        }
    }
</div>

<div id="div-overlay-juego" class="div-overlay-juego"></div>

<div id="div-busq-jug" class="container container-grid container-busq rounded-3" style="display: none"></div>

<div id="div-victoria" class="container container-grid container-busq container-victoria rounded-3" style="display: none">

    <!--<div class="d-flex" style="align-items: start">
        <div>
            <img src="/img/trofeo.png" class="pd-10-30" style="width: 9vw" />
        </div>
        <div>
            <div class="fuentePrincipal fs24 color-victoria">¡ENHORABUENA!</div>
            <div class="fuentePrincipal fs12">¡Sos un fenómeno! Las metes como Julián Álvarez.</div>

            <div class="d-flex" style="justify-content: space-around; padding: 10px 0px;">
                <div>
                    <div class="fuentePrincipal fs12 text-center">Puntuación</div>
                    <div id="divPuntuacionFinal" class="fuentePrincipal fs18 text-center color-victoria">0</div>
                </div>

                <div>
                    <div class="fuentePrincipal fs12 text-center">Tiempo</div>
                    <div id="divTiempoFinal" class="fuentePrincipal fs18 text-center color-victoria">7:35</div>
                </div>
            </div>

            <div class="fuentePrincipal fs12">Compártelo con tus pibes en redes sociales, che.</div>
            <div class="d-flex" style="justify-content: space-around; padding-top: 10px">
                <div>
                    <button class="icon-redes-sociales p-0">
                        <img src="/img/redes sociales/twitter.png" class="w-100" />
                    </button>
                </div>
                <div>
                    <button class="icon-redes-sociales p-0">
                        <img src="/img/redes sociales/facebook.png" class="w-100" />
                    </button>
                </div>
                <div>
                    <button class="icon-redes-sociales p-0">
                        <img src="/img/redes sociales/instagram.png" class="w-100" />
                    </button>
                </div>
            </div>
        </div>
    </div>-->

</div>


