@model FootGrids.DTOs.PistasDTO

@{
    ViewData["Title"] = "FootGrids Index";
}

@foreach (var jugador in Model.Jugadores)
{
    <p>@jugador.Nombre</p>
}


<div class="container container-grid">
    <div class="row" style="width: 100%; margin: 0;">
        <div class="col-sm celda-grid" style="flex: 1; height: auto"></div>
        <div class="col-sm celda-titulo fuentePrincipal colorFuenteSecundaria" style="text-shadow: 2px 2px #100000;">
            FootGrids
        </div>
    </div>
    @if (Model is not null)
    {
        <div class="row">
            <div class="col-sm celda-grid">
                <div class="celda-grid-container fuentePrincipal">Puntuación</div>
            </div>
            @foreach (var pista in Model.Pistas)
            {
                if (pista.NumPista >= 1 && pista.NumPista <= 3)
                {
                    if (pista.Link is null)
                    {
                        <div class="col-sm celda-grid">
                            <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                        </div>
                    }
                    else 
                    {
                        if (pista.Tipo == "Jugador")
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container">
                                    <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                </div>
                                <div class="celda-grid-subdato fuentePrincipal">Compañero de...</div>
                            </div>
                        }
                        else if (pista.Tipo == "Dato")
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container">
                                    <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
        @for (int i = 4; i < 7; i++)
        {
            <div class="row">
                @foreach (var pista in Model.Pistas)
                {
                    if (pista.NumPista == i)
                    {
                        if (pista.Link is null)
                        {
                            <div class="col-sm celda-grid">
                                <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                            </div>
                        }
                        else
                        {
                            if (pista.Tipo == "Jugador")
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container">
                                        <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                    </div>
                                    <div class="celda-grid-subdato fuentePrincipal">Compañero de...</div>
                                </div>
                            }
                            else if (pista.Tipo == "Dato")
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container fuentePrincipal">@pista.Nombre</div>
                                </div>
                            }
                            else
                            {
                                <div class="col-sm celda-grid">
                                    <div class="celda-grid-container">
                                        <img src="@pista.Link" style="max-width: 100px; max-height: 100px" />
                                    </div>
                                </div>
                            }
                        }
                    }
                }

                <div class="col-sm celda-grid d-flex pd-3-0">
                    @{
                        string styleCeldaEsq = "";

                                    @if (i == 4)
                        {
                            styleCeldaEsq = " celda-esq-sup-izq";
                        }
                        else if (i == 6)
                        {
                            styleCeldaEsq = " celda-esq-sup-der";
                        }
                    }

                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @styleCeldaEsq"></button>
                </div>

                    @{
                        styleCeldaEsq = "";
                    }

                <div class="col-sm celda-grid d-flex pd-3-0">
                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @styleCeldaEsq"></button>
                </div>

                <div class="col-sm celda-grid d-flex pd-3-0">
                    @{
                        @if (i == 4)
                        {
                            styleCeldaEsq = " celda-esq-inf-izq";
                        }
                        else if (i == 6)
                        {
                            styleCeldaEsq = " celda-esq-inf-der";
                        }
                    }

                    <button id="btn-jug-oculto" class="celda-grid-jug-ocultos @styleCeldaEsq"></button>
                </div>
            </div>
        }
    }
</div>

<div id="div-overlay-juego" class="div-overlay-juego"></div>

<div id="div-busq-jug" class="container container-grid container-busq rounded-3" style="display: none"></div>
